<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Workshop</title>
</head>
<body>
    <h1>Welcome to Sandeep's World</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_xlGCDACJWOXNcYXdMURH0Qwn8zp49NYgA7aTf2Nv-Q&s">
<form action="/login" method="POST"></form>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <input type="submit" value="Login">
</body>
</html>